.fablue {
    color: blue;
    font-size: 2.5em !important;
}
.falightblue {
    color: #55ACEE;
    font-size: 2.5em !important;
}
.fagreen {
    color: green;
    font-size: 2.5em !important;
}
.faorange {
    color: orange;
    font-size: 2.5em !important;
}
.facyan {
    color: cyan;
    font-size: 2.5em !important;
}
.fayellow {
    color: yellow;
    font-size: 2.5em !important;
}
.famagenta {
    color: magenta;
    font-size: 2.5em !important;
}
.fapurple {
    color: purple;
    font-size: 2.5em !important;
}
.fared {
    color: red;
    font-size: 2.5em !important;
}
.fagrey {
    color: grey;
    font-size: 2.5em !important;
}
ul.optional {
	list-style: none outside none;
	clear: left;
}

ul.optional li {
	float: left;
	display: block;
	padding: 5px;
	width: 33%;
}

ol.webinar {
	/*list-style: none outside none;*/
}

ol.webinar li {
	float: left;
	margin-left: 30px;
}

ol.webinar li a{
	margin: 10px;
	padding: 10px;
}

.price {
	clear: both;
	margin-left:  30px;
}

@page {
    size: A4;
    margin: 20mm 15mm 20mm 15mm;
}
@media print {
    html, body {
    width: 210mm;
    height: 297mm;
}